body {
  box-sizing: border-box;
  background-color: #f7f9f9;
}

.main-content {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100px 4fr 1fr;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column: 2;
  grid-row: 1;
  background-color: white;
}

.main-header.left-side {
  height: 20px;
  margin: 0;
  animation: showhead 5s forwards;
}
.main-header-logo {
  justify-self: start;
  width: 7rem;
  max-height: 100px;
}
.main-header .right-side {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.bell-icon {
  grid-row: 1;
  margin-right: 10px;
  opacity: 0.5;
  cursor: pointer;
  place-self: center end;
}
.bell-icon:hover {
    opacity: 0.7;
}
.avatar-round {
  grid-row: 1;
  place-self: center end;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: orange;
  color: white;
  border-radius: 50%;
  text-align: center;
}
.avatar-round span {
  display: block;
  font-family: sans-serif;
  font-size: 1.25rem;
  margin-top: 25%;
}

.main-conteiner {
  grid-column: 2;
  grid-row: 2;
}
.main-content-card {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 0.5fr;
  grid-template-rows: repeat(8, 50px);
}

.card-binary {
  background-color: transparent;
  grid-column: 1;
  grid-row: 1/5;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card-front {
  max-height: 100%;
}
.card-binary:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  backface-visibility: hidden;
}

.flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transform: rotateY(180deg);
  text-align: center;
}

.binary-logo {
  width: 100%;
  height: 100%;
}
.card-binary button {
  background-color: #2591ff;
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 70px;
  height: 35px;
}

.card-binary button:hover {
  background-color: #264192;
}

.card-qa {
  grid-row: 5 / end;
  grid-column: 1;
}

.card-qa .flip-card-front {
  display: flex;
  justify-content: center;
  background-color: #4aaa58;
  color: white;
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.card-qa:hover .flip-card-inner {
  transform: rotateY(-180deg);
}
.card-qa .flip-card-back {
  align-items: flex-start;
  text-align: left;
  font-weight: bold;
}
.card-qa .flip-card-back p {
  margin: 1rem;
}

.card-js {
  grid-row: 1/7;
  grid-column: 2;
}

.card-js:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card-js .flip-card-back {
  align-items: flex-start;
  text-align: left;
  font-weight: bold;
}

.card-js .flip-card-front {
  background-color: #ffa500;
  display: flex;
  align-items: flex-end;
  margin: 0;
  font-family: sans-serif;
}
.card-js .flip-card-front h1 {
  font-size: 8vw;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.card-js .flip-card-back p {
  margin: 1rem;
}

.card-java {
  grid-row: 7 / end;
  grid-column: 2;
}

.card-java .card-front {
  background-color: #ce2323;
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  transition: all 1s ease-in-out;
  opacity: 1;
}

.card-java .card-inner {
  position: relative;
}
.card-java .card-back {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1.5s;
  align-items: flex-start;
  text-align: left;
  font-weight: bold;
}
.card-java .card-back p {
  margin: 1rem;
}
.card-java:hover .card-back {
  opacity: 1;
}
.card-java:hover .card-front {
  transform: translate(0, 100px);
  opacity: 0;
}

.card-php {
  background-color: #828bd0;
  grid-row: 1/4;
  grid-column: 3 / end;
}
.card-php .card-inner {
  position: relative;
}
.card-php .card-front {
  position: absolute;
  justify-content: center;
  color: white;
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
}
.card-php .card-back {
  position: absolute;
  align-items: flex-start;
  text-align: left;
  font-weight: bold;
}
.card-php p {
  margin: 0px;
}
.card-net {
  background-color:#482c65;
  grid-row: 4 / end;
  grid-column: 3;
  text-align: center;
}
.card-contacts {
  background-color: #34375a;
  grid-row: 8;
  grid-column: 4;
}
.card-blog {
  background-color:#3e39b9;
  grid-row: 6/8;
  grid-column: 4;
}

.card-events {
  background-color: #2591ff;
  grid-row: 4/6;
  grid-column: 4;
}

